.product-container {
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 7px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px 0px gray, 0 4px 16px 0 gray;

}

.description {
    text-align: justify;
}

.update-button {
    background-color: rgb(21, 161, 21);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    padding: 3px;
    font: sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
}

.update-button:hover {
    background-color: rgb(180, 30, 30);
}