.details-container {
    margin-top: 120px;
}

.singleProduct-container {
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    width: 900px;
    height: 600px;
    -webkit-box-shadow: 0 2px 4px 0px gray, 0 4px 16px 0 gray;
    align-items: center;
    margin-top: 100px;
    margin: 0 auto;

}


.product-image {
    margin-right: 40px;
}

.product-details {
    padding: 3px;
    font-family: sans-serif;
}

.name {
    color: red;
    font-size: 40px;
}

.p_id {
    font-weight: 700;

}

.single-description {
    text-align: justify;
}

.deliver-btn {
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    padding: 5px;

}